@layer reset, variables, global, custom;

@layer global {
  /* Typography */

  @font-face {
    font-display: swap;
    font-family: "Anybody";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/anybody-v11-latin-regular.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/inter-v13-latin-regular.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Alatsi";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Alatsi/Alatsi-Regular.ttf") format("truetype");
  }

  @font-face {
    font-display: swap;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  }

  /* Focus behaviour */

  :is(a, button, input, textarea, summary) {
    --outline-size: max(2px, 0.08em);
    --outline-style: solid;
    --outline-color: currentColor;
    --outline-offset: 3px;
  }

  :is(a, button, input, textarea, summary):focus {
    outline: var(--outline-size) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset, var(--outline-size));
  }

  :is(a, button, input, textarea, summary):focus-visible {
    outline: var(--outline-size) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset, var(--outline-size));
  }

  :is(a, button, input, textarea, summary):focus:not(:focus-visible) {
    outline: none;
  }

  :is(a, button, input, textarea, summary):hover {
    outline: var(--outline-size) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset, var(--outline-size));
  }

  /* General */

  body {
    background: light-dark(var(--color-white), var(--color-black));
    background-attachment: fixed;
    background-image: url("../images/nnnoise-dark.svg");
    color: light-dark(var(--color-black), var(--color-grey-light));
  }

  h1,
  h2,
  h3{
    color: light-dark(var(--color-black), var(--color-white));
    font-family: "Alatsi", sans-serif;
  }

  h1 {
    font-size: var(--step-5);
  }
  h2 {
    font-size: var(--step-4);
  }

  a,
  blockquote,
  ul,
  ol,
  p {
    font-family: "Alatsi", sans-serif;
    font-weight: lighter;
    font-size: var(--step-1);
    hyphens: auto;
  }

  code {
    color: light-dark(var(--color-green), var(--color-yellow));
    font-weight: bold;
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  /* Scheme preference */

  @media (prefers-color-scheme: light) {
    body {
      background-image: url("../images/nnnoise-light.svg");
    }
  }

  @media (prefers-contrast: more) {
    body {
      background: #000;
      color: #fff;
    }

    h1,
    h2 {
      color: #fff;
    }
  }
  /* Light/dark override */

  :root[data-theme="light"] .light { display: initial !important; }
  :root[data-theme="light"] .dark  { display: none !important; }

  :root[data-theme="dark"] .light  { display: none !important; }
  :root[data-theme="dark"] .dark   { display: initial !important; }


  /* Reduced motion preference */

  @media (prefers-reduced-motion: no-preference) {
    :focus,
    :hover {
      transition: outline-offset 0.25s ease;
      outline-offset: 5px;
    }
  }
}
